/*
Name : Gourisankar Sivakumar
Student number : 8987034
*/
header{
    background: linear-gradient(to right, #121212, #624026);
    text-align: center;
    padding: 20px;
}
.listnav{
    background: linear-gradient(to right, #121212, #624026);
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
.listnav section{
    width: 100%;
    overflow: hidden;
}
.listnav ul{
    overflow: auto;
    height: 3rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}
.listnav li{
    float: left;
    list-style: none;
    width: 20%;
    margin-right: 5rem;
}
.listnav a{
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 18px;
}
.listnav a:hover{
    color: antiquewhite;
}

.structural{
    float: left;
    width: 55%;
    clear: both;
}

ul li{
    list-style: none;
    line-height: 2;
}
ul>li>a{
    text-decoration: none;
    color:#babaca;
}
  
nav{
    color:#babaca;
    padding: 10px;
}
body
{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 90%;
    margin: auto;
    font: 16px, 'Franklin Gothic Medium';
    padding: 10px;

}

h1{
    font-variant: small-caps;
    color:#a4a4c4;
}
h2{
    font-variant: small-caps;
    color:#5b5bb0;
    text-align: center;
}
aside{
    flex: 1;
    background-image: url("../images/imm.webp");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: top;
    color: #b6c8bb;
    padding: 20px;
    margin-left: 70px;
    max-width: 20vw;
}
aside a:hover{
    color: cornsilk;
}
main{
    float: left;
    width: 55%;
    padding: 20px;
    clear: both;
}
q{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2.2em;
}

img {
    border: 3px black solid;
}


.header-footer{
    border:6px black solid;
    border-radius: 14px;
    padding: 10px;
    margin: auto;
    clear: both;

}
 footer p{
    color: #b9b9d2;
    font-size: 16px;  
}

footer{
    text-align: center;
    background: linear-gradient(to right, #121212, #624026);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-columns: 100px 100 100px;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 40px;
}

.gallery img {
    overflow: hidden;
    width: 100%;
    height: auto;
    clip-path: polygon(0% 0%, 100% 3%, 98% 99%, 3% 93%);
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #151212;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #b06969;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #311c1c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

th,td{
    border: solid 2px;
    border-collapse: collapse;
    text-align: center;
}
.flurry{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app{
    display: grid;
}
.app .bannerWrapper{
    display: flex; 
    justify-content: space-between;
}

.bannerWrapper p{
    padding-inline: 2rem;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: auto;

}
tr:hover{
    color: rgb(42, 165, 95);
    font-size: 20px;
    font-weight: 400px;
}
@media(max-width: 1200px)
{
    body{
        font-size: 0.9rem;
        padding: 1rem;
        color: aqua;
    }
    .app{
        flex-wrap: wrap;
    }
    html {
        font-size: 16px;
      }
      h1{
      font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
    aside{
        background-image: url("../images/Ch.jpg");
        background-size: cover;
        min-height: 500px;
        border-bottom: 2rem solid black;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .header-footer{
        font-size: 0.5rem;
     }
}
@media (max-width: 600px){
    body{
        font-size: 0.9rem;
        padding: 1rem;
        color: gray;
    }
    .app{
        flex-wrap: wrap;
    }
    html {
        font-size: 16px;
      }
      h1{
        font-size: 1rem;
        }
        p {
            font-size: 1rem;
          }
          aside{
            background-image: url("../images/dribble_4x.jpg");
            background-size: cover;
            border-bottom: 2rem solid black;
            justify-content: flex-end;
            align-items: flex-end;
        }  
 .header-footer{
    font-size: 0.5rem;
 }
}